@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="text-center">
        
        <img src="~/images/logo4.png" class="img" alt="My image" />
    </div>
    <div class="red-2">
        <h1>Svježe voće i povrće <br>iz prirodnog uzgoja!</h1>
        <p>Vlastita proizvodnja na hrvatskim poljima. </p>
        <a href="https://www.mali-vrt.hr/" class="button">Istraži i uvjeri se! &#8594;</a>
    </div>
</body>
</html>
